
@media (min-width: 520px) {
    .container {
        display: flex;
        justify-content: center;
        z-index: 0;
    }
    .img-navbar {
        display: flex;
        padding: 0;
        justify-content: center;
    }

    .logo-delicados,
    .logo-burgerking {
        padding-top: 22px;
        padding-left: 18px;
    }

    .ml-auto {
        display: flex;
        justify-content: center;
    }

    .menu-nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 18px;
    }

    .button-container {
        margin-top: 8px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .menu-word {
        padding-top: 20px;
        padding-left: 20px;
        font-size: 20px;
    }

    .button-word {
        padding-top: 20px;
        padding-left: 20px;
        z-index: 1;
    }

    .burger-menu-container {
        display: none;
    }


}
/*@media (max-width: 992px) {*/
/*    .menu-word,*/
/*    .button-word {*/
/*        padding-top: 10px;*/
/*        padding-left: 0;*/
/*        font-size: 18px;*/
/*    }*/
/*}*/

@media (max-width: 430px) {
    .ml-auto,
    .menu-nav,
    .button-container,
    .menu-word
    {
        display: none;
    }

    .modal-auth-container {
        width: 320px;
        height: 611px;
        position: relative;
        background-color: #FD6900;

    }

    .modal-body-popup {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .img-navbar {
        display: flex;
        padding: 0;
        justify-content: space-between;
    }

    .logo-delicados,
    .logo-burgerking {
        padding-top: 22px;
        padding-left: 18px;
    }

    .burger-menu-container {
        margin-top: 20px;
    }

    .icon-burger-menu {
        color: white;
    }

    .popup-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .modal-auth-container {
        z-index: 1;

    }

    .popup-nav-word {
        /*display: flex;*/
        /*justify-content: center;*/
        /*flex-direction: row;*/

    }

    .button-word-popup {
        margin-top: 10px;
    }

    .menu-word-popup {
        padding-top: 20px;
        padding-left: 20px;
        font-size: 20px;
        color: white;
    }

    .button-container-popup {
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
}